<div data-sticky-container>
  <div class="top-bar" data-sticky data-options="marginTop:0;">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">
          <img class="logo" src="/static/images/logo.png">
          <a href="/" class="title"><span class="main-title">Tenho Dito</span></a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li class="analysis">Último período analisado: <span class="period">julho/2015</span> a <span class="period">julho/2016</span></li>
        <li><a href="/como-funciona">Como funciona?</a></li>
      </ul>
    </div>
  </div>
</div>