{% extends "base.html" %}

{% block title %}{{ cm['nickname'] }}{% endblock title %}

{% block content %}
{% if cm['coherence'] >= 0 %}
<div class="profile">
{% else %}
<div class="profile negative">
{% endif %}
  <div class="profile-image float-center">
    <img src="{{ cm['photo'] }}" alt="">
  </div>
  <div class="row align-center align-middle">
    <div class="profile-info">
      <div class="columns deputy-name">
        <h1>{{ cm['nickname'] }}</h1>
        <h2>{{ cm['party'] }} - {{ cm['state'] }}</h2>
        <span>{{ cm['email'] }} / {{ cm['phone'] }}</span>
      </div>
      <div class="row align-center deputy-index">
        <div class="index-text">
          <span class="description">Índice de coerência:</span>
          <span class="index">{{ cm['coherence'] }}</span>
        </div>
      </div>
      {% if cm['coherence'] == '*' %}
        <div class="row align-center no-index">
          <p>Desculpe, não conseguimos dados suficientes para aferir o Índice de Coerência</p>
        </div>
      {% else %}
      <div class="row align-spaced profile-content">
        <div class="columns profile-chart">
          <h2>Termos mais falados nos discursos</h2>
          <div class="word-cloud" id="speechCloud">
          </div>
        </div>
        <div class="columns profile-chart">
          <h2>Termos mais falados nas propostas</h2>
          <div class="word-cloud" id="proposalCloud">
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}

{% block footer_js %}
  <link rel="stylesheet" href="/static/bower_components/jqcloud2/dist/jqcloud.min.css">
  <script src="/static/bower_components/jqcloud2/dist/jqcloud.min.js"></script>
  <script>
    var drawCloud = function(selector, words) {
      {% if cm['coherence'] >= 0 %}
        $(selector).jQCloud(words, {delay: 70,});
      {% else %}
        $(selector).jQCloud(words, {delay: 70,
          colors: ["#800026", "#bd0026", "#e31a1c", "#fc4e2a", "#fd8d3c", "#feb24c", "#fed976",]
        });
      {% endif %}
    }
    var speechWords = [
      {% for word in top_speech_words %}
        {text: '{{ word[0] }}', weight: {{ word[1] }}},
      {% endfor %}
    ];
    drawCloud('#speechCloud', speechWords);

    var proposalWords = [
      {% for word in top_proposal_words %}
        {text: '{{ word[0] }}', weight: {{ word[1] }}},
      {% endfor %}
    ];
    drawCloud('#proposalCloud', proposalWords);
  </script>
{% endblock footer_js %}
